.moviesFlexContainer {
    display: flex;
    width: 70%;
    height: 475px;
    background-color: #ccc;
    padding: 20px; 
    border-radius: 40px;
    align-items: center;
    margin-bottom: 100px
}

.mainMovieContainer {
    width: 30%;
    display: flex;
    margin: 10px;
    position: relative;
    height:100%;
}

.mainMovieContainer img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
    display: block;
}

.asideMovieContainer {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;  
    align-items: center;
}

.movieContainer {
    position: relative;
}

.movieContainer img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    display: block;
}

.movieCardDescription {
    width: 70%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.movieDescription {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-right: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #aaa;
    font-size: 16px;
}

.movieDescription h3 {
    width: 100%;
    font-size: 25px;
}

.movieDescription figure {
    display: flex;    
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
}

.movieDescription img {
    width: 20px;
    margin-left: 5px;
}

.movieDescription p {
    font-size: 20px;
}

.closeDescriptionButton {
    background-color: transparent;
    display: flex;
    outline: none;
    border: none;
    justify-content: center;
    cursor: pointer
}

.closeDescriptionButton img {
    margin: 0;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 20px;
    transition: .5s ease;
    background-color: #ccc;
    cursor: pointer;
}

.mainMovieContainer:hover .overlay,
.movieContainer:hover .overlay {
    opacity: 0.7;
}

