.search_bar_container {
    display: flex;
    justify-content: center;
}

.search_bar_label {
    display: flex;
    border: 2px solid red;
    border-radius: 20px;
    padding: 5px;
    width: 250px;
}

.search_bar_img {
    width: 15px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 5px;
}

.search_bar_input {
    border: none;
    outline: none;
}