.searchBarContainer {
    display: flex;
    justify-content: center;
    padding: 35px;
    margin-top: 10px;
    margin-bottom: 10px
}

.searchBarLabel {
    display: flex;
    border-radius: 20px;
    padding: 5px;
    width: 350px;
    background-color: white;
}

.searchBarImg {
    width: 15px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 5px;
}

.searchBarInput {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
}
